/**** OOCSS imports frorm directory***************/
/* app/stylesheets/OOCSS  (no plugins yet)       */
/**** OOCSS ALL GRID COMBINATIONS  ***************/
/* line 5, ../../app/stylesheets/screen.scss */
.line:before, .line:after {
  content: "";
  display: table;
}

/* line 6, ../../app/stylesheets/screen.scss */
.line:after {
  clear: both;
}

/* line 7, ../../app/stylesheets/screen.scss */
.line {
  *zoom: 1;
  padding: 5px;
}

/* line 8, ../../app/stylesheets/screen.scss */
.unit {
  float: left;
}

/* line 9, ../../app/stylesheets/screen.scss */
.size1of1 {
  float: none;
}

/* line 10, ../../app/stylesheets/screen.scss */
.size1of2 {
  width: 50%;
}

/* line 11, ../../app/stylesheets/screen.scss */
.size1of3 {
  width: 33.33333%;
}

/* line 12, ../../app/stylesheets/screen.scss */
.size2of3 {
  width: 66.66666%;
}

/* line 13, ../../app/stylesheets/screen.scss */
.size1of4 {
  width: 25%;
}

/* line 14, ../../app/stylesheets/screen.scss */
.size3of4 {
  width: 75%;
}

/* line 15, ../../app/stylesheets/screen.scss */
.size1of40 {
  width: 2.5%;
}

/* line 16, ../../app/stylesheets/screen.scss */
.size1of20 {
  width: 5%;
}

/* line 17, ../../app/stylesheets/screen.scss */
.size1of10 {
  width: 10%;
}

/* line 18, ../../app/stylesheets/screen.scss */
.size1of15 {
  width: 15%;
}

/* line 19, ../../app/stylesheets/screen.scss */
.size1of5 {
  width: 20%;
}

/* line 20, ../../app/stylesheets/screen.scss */
.size2of5 {
  width: 40%;
}

/* line 21, ../../app/stylesheets/screen.scss */
.size3of5 {
  width: 60%;
}

/* line 22, ../../app/stylesheets/screen.scss */
.size4of5 {
  width: 80%;
}

/* line 23, ../../app/stylesheets/screen.scss */
.size9of10 {
  width: 90%;
}

/* line 24, ../../app/stylesheets/screen.scss */
.lastUnit {
  float: none;
  display: block;
  display: table-cell;
  width: 9999em;
  *width: auto;
  *zoom: 1;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
}

/* ***********OOCSS TEMPLATE ********************/
/* ====== Page Head, Body, and Foot ======      */
/* line 28, ../../app/stylesheets/screen.scss */
body {
  _text-align: center;
}

/* IE5.5 */
/* line 29, ../../app/stylesheets/screen.scss */
.main {
  display: table-cell;
  *display: block;
  width: auto;
}

/* line 30, ../../app/stylesheets/screen.scss */
.body, .main {
  *zoom: 1;
}

/* line 31, ../../app/stylesheets/screen.scss */
.body:after, .main:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

/* line 32, ../../app/stylesheets/screen.scss */
.page {
  margin: 0 auto;
  width: 950px;
  _text-align: left;
}

/* wraps other template elems to set width */
/* text-align IE5.5 */
/* "old school" and "liquid" extend page to allow for different page widths */
/* line 34, ../../app/stylesheets/screen.scss */
.oldSchool {
  width: 750px;
}

/* line 35, ../../app/stylesheets/screen.scss */
.gs960 {
  width: 960px;
}

/* line 36, ../../app/stylesheets/screen.scss */
.liquid {
  width: auto;
  margin: 0;
}

/* ====== Columns ====== */
/* line 38, ../../app/stylesheets/screen.scss */
.leftCol {
  float: left;
  width: 250px;
  _margin-right: -3px;
}

/* line 39, ../../app/stylesheets/screen.scss */
.rightCol {
  float: right;
  width: 300px;
  _margin-left: -3px;
}

/* extend columns to allow for common column widths */
/* line 41, ../../app/stylesheets/screen.scss */
.gMail {
  width: 160px;
}

/* line 42, ../../app/stylesheets/screen.scss */
.gCal {
  width: 180px;
}

/* line 43, ../../app/stylesheets/screen.scss */
.yahoo {
  width: 240px;
}

/* line 44, ../../app/stylesheets/screen.scss */
.myYahoo {
  width: 300px;
}

/**********OOCSS Libraries reset styling**********/
/* not included here because it overrides the    */
/* established styling                           */
/* VARIABLES:  this section defines variables    */
/* FOR COLORS:                                   */
/* MIXINS: for duplicate codes                   */
/* none for the moment..............             */
/* BACKGROUND IMAGE repeated by default.         */
/* line 74, ../../app/stylesheets/screen.scss */
body {
  background-image: url(/images/images.jpg);
  text-align: left;
  font-size: 14px;
}

/* SECTION: space between, fonts, padding        */
/* the less the margin-top, the more overlap with*/
/* logo and therefore the logo drives the table  */
/* top margin. Color changes don't occur here.                                   */
/* line 84, ../../app/stylesheets/screen.scss */
section {
  margin-top: 15px;
  padding: 5px;
  background: LemonChiffon;
  font-size: 100%;
  font-color: black;
}
/* line 92, ../../app/stylesheets/screen.scss */
section h1 {
  text-align: center;
}

/* FONT-FAMILY (from OOCSS) should hold     */
/* several font names as a fallback for          */
/* browser incapt., ending with the most         */
/* generic (Sans-serif or Serif)                 */
/* line 103, ../../app/stylesheets/screen.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea, p,
blockquote, th, td {
  font-family: "Lucida Grande", Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
}

/* PARAGRAPH: setting margins for free text p    */
/* line 110, ../../app/stylesheets/screen.scss */
p {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* CSS CLASSES ***********************************/
/* CONTAINER:  whole = both sections             */
/* any padding showing up on outside             */
/* line 120, ../../app/stylesheets/screen.scss */
textarea.container {
  width: 960px;
}

/* ROUND CORNERS: anything assigned .round       */
/* line 125, ../../app/stylesheets/screen.scss */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

/* need a separate class for the logo            */
/* line 134, ../../app/stylesheets/screen.scss */
.logoround {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

/* LOGO:  besides the following styling, the logo*/
/* also has some details listed in app/helpers/  */
/* application_helper.rb for class .round        */
/* line 146, ../../app/stylesheets/screen.scss */
.logo {
  float: left;
}

/* GRAVATAR:  besides the following styling,     */
/* app/helpers/users_helper.rb includes details  */
/* for gravatar to be used site wide + .round    */
/* line 153, ../../app/stylesheets/screen.scss */
.gravatar {
  margin-bottom: 1px;
}

/* TABLES MAIN DATA CELL: left column            */
/* Oct 29, 2011, added some background gradients */
/* and vertical alignment for table styling to   */
/* occur only with .main attached to %table      */
/*this first one is for accordian */
/* line 162, ../../app/stylesheets/screen.scss */
.main {
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: DarkRed;
  font-size: 90%;
}
/* line 170, ../../app/stylesheets/screen.scss */
.main tr {
  vertical-align: top;
  background: PowderBlue;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$table-background', endColorstr='$white-color');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(Gainsboro), to(white));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, Gainsboro, white);
  /* for firefox 3.6+ */
}
/* line 178, ../../app/stylesheets/screen.scss */
.main th {
  text-align: center;
  background: WhiteSmoke;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$red-color', endColorstr='$sun-color');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(Crimson), to(LightSalmon));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, Crimson, LightSalmon);
  /* for firefox 3.6+ */
}

/* SIDEBAR (right column)                        */
/* line 188, ../../app/stylesheets/screen.scss */
.sidebar {
  width: 20%;
  vertical-align: top;
  padding: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: DarkRed;
}

/* TABLE styling for sortable column arrows      */
/* .current is for the small arrow image exists  */
/* on a current header. and is passed in the     */
/* application helper def. with class.           */
/* same for .asc and .desc                       */
/* line 202, ../../app/stylesheets/screen.scss */
th .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

/* line 207, ../../app/stylesheets/screen.scss */
th .asc {
  background-image: url(/images/up_arrow.gif);
}

/* line 210, ../../app/stylesheets/screen.scss */
th .desc {
  background-image: url(/images/down_arrow.gif);
}

/* line 213, ../../app/stylesheets/screen.scss */
.justcenter {
  text-align: center;
}

/* line 216, ../../app/stylesheets/screen.scss */
.justleft {
  text-align: left;
}

/* line 220, ../../app/stylesheets/screen.scss */
.justright {
  text-align: right;
}

/* line 223, ../../app/stylesheets/screen.scss */
.verticaltop {
  vertical-align: top;
}

/* line 226, ../../app/stylesheets/screen.scss */
.smallpadding {
  padding: 5px;
}

/* line 229, ../../app/stylesheets/screen.scss */
.nopadding {
  padding: none;
}

/* line 232, ../../app/stylesheets/screen.scss */
.marginbot {
  margin-bottom: 0px;
}

/* line 235, ../../app/stylesheets/screen.scss */
.paddingbot {
  padding-bottom: 0px;
}

/* GRAVATAR:  besides the following styling,     */
/* app/helpers/users_helper.rb includes details  */
/* for gravatar to be used site wide + .round    */
/* line 241, ../../app/stylesheets/screen.scss */
.gravatar {
  margin-bottom: 1px;
}

/* SECTION: main container space between, fonts, padding        */
/* the less the margin-top, the more overlap with*/
/* logo and therefore the logo drives the table  */
/* top margin.    	background: $back-color;     */
/* Green OliveDrab   */
/* line 250, ../../app/stylesheets/screen.scss */
section {
  margin-top: 15px;
  padding: 5px;
  background: LemonChiffon;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$olive-drab', endColorstr='$dark-sea-green');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(OliveDrab), to(DarkSeaGreen));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, OliveDrab, DarkSeaGreen);
  /* for firefox 3.6+ */
  font-size: 100%;
  font-color: black;
}
/* line 262, ../../app/stylesheets/screen.scss */
section h1 {
  text-align: center;
}

/* LINKS: General (overrided in nav bar section) */
/* The following is first example of "nesting"   */
/* where we nest all the stuff assoc.ed with a   */
/**/
/* line 272, ../../app/stylesheets/screen.scss */
a {
  color: maroon;
  text-decoration: none;
}
/* line 275, ../../app/stylesheets/screen.scss */
a:hover {
  text-decoration: underline;
}
/* line 278, ../../app/stylesheets/screen.scss */
a:visited {
  color: Peru;
}

/* SIGN UP BUTTON                                */
/* line 284, ../../app/stylesheets/screen.scss */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: white;
  background: DarkRed;
  padding: 10px;
  font-size: 125%;
  font-weight: bold;
}

/* NAVIGATION BAR (nav padding inside the border)*/
/*(ul li padding would be rt/lt of whole bar)    */
/*
nav {
	float: center;
  	background-color: $white-color;
  	white-space: nowrap;
	padding: none;
	ul li {
  		list-style-type: none;
  		display: inline-block;
  		padding: none;
	}
}

/* working code */
/*
nav ul li a {
  	padding: 5px;
  	font-weight: bold;
		&:visited {
  			color: $visit-color;
		}
		&:hover {
  			text-decoration: underline;
		}
}

/* NAV BAR LINKS (padding between links)         */
/* gradient nav bars: ref. webdesignerwall.com   */
/* saved as a favorite.  Note we are trying dir  */
/* elements vs id's or classes                   */
/* use em value = scalable           */
/* line 332, ../../app/stylesheets/screen.scss */
#nav {
  margin: 0px;
  padding: 0px;
  line-height: 50%;
  border-radius: 2em;
  float: right;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  background: #8b8b8b;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#7a7a7a');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #a9a9a9, #7a7a7a);
  /* for firefox 3.6+ */
  border: solid 3px black;
}

/* line 352, ../../app/stylesheets/screen.scss */
#nav li {
  margin: 0px;
  padding: 0px;
  float: left;
  position: relative;
  list-style: none;
}

/* main level link */
/* line 360, ../../app/stylesheets/screen.scss */
#nav a {
  font-weight: bold;
  font-size: 90%;
  color: white;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  margin: 0;
  -webkit-border-radius: 1.6em;
  -moz-border-radius: 1.6em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

/* main level link hover */
/* line 373, ../../app/stylesheets/screen.scss */
#nav .current a, #nav li:hover > a {
  background: #d1d1d1;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white-color', endColorstr='#a1a1a1');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#a1a1a1));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #a1a1a1);
  /* for firefox 3.6+ */
  color: black;
  border-top: solid 1px #f8f8f8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* sub levels link hover */
/* line 387, ../../app/stylesheets/screen.scss */
#nav ul li:hover a, #nav li:hover li a {
  background: none;
  border: none;
  color: #666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* line 394, ../../app/stylesheets/screen.scss */
#nav ul a:hover {
  background: #0399d4 !important;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important;
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #04acec, #0186ba) !important;
  /* for firefox 3.6+ */
  color: #fff !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* level 2 list */
/* line 406, ../../app/stylesheets/screen.scss */
#nav ul {
  background: #ddd;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cfcfcf));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #cfcfcf);
  /* for firefox 3.6+ */
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 35px;
  left: 0;
  border: solid 1px #b4b4b4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* dropdown */
/* line 428, ../../app/stylesheets/screen.scss */
#nav li:hover > ul {
  display: block;
}

/* line 431, ../../app/stylesheets/screen.scss */
#nav ul li {
  float: none;
  margin: 0;
  padding: 0;
}

/* line 436, ../../app/stylesheets/screen.scss */
#nav ul a {
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}

/* level 3+ list */
/* line 441, ../../app/stylesheets/screen.scss */
#nav ul ul {
  left: 181px;
  top: -3px;
}

/* rounded corners for first and last child */
/* line 446, ../../app/stylesheets/screen.scss */
#nav ul li:first-child > a {
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
}

/* line 452, ../../app/stylesheets/screen.scss */
#nav ul li:last-child > a {
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
}

/* clearfix */
/* line 459, ../../app/stylesheets/screen.scss */
#nav:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 467, ../../app/stylesheets/screen.scss */
#nav {
  display: inline-block;
}

/* line 470, ../../app/stylesheets/screen.scss */
html[xmlns] #nav {
  display: block;
}

/* line 473, ../../app/stylesheets/screen.scss */
* html #nav {
  height: 1%;
}

/* FOOTER SECTION: (not nav bar)                 */
/* line 477, ../../app/stylesheets/screen.scss */
footer {
  width: 640px;
  background-color: black;
  padding: 1px;
  white-space: nowrap;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER NAVIGATION BAR                         */
/* line 488, ../../app/stylesheets/screen.scss */
footer nav {
  background-color: BurlyWood;
  text-align: center;
  list-style-type: none;
}

/* FORMS: specific to the field area with label  */
/* line 495, ../../app/stylesheets/screen.scss */
.form {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Sans-Serif;
  font-size: 13px;
  padding: none;
}
/* line 502, ../../app/stylesheets/screen.scss */
.form .line {
  padding-left: 20px;
  padding-right: 20px;
  background: PowderBlue;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$sky-color', endColorstr='$white-color');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(PowderBlue), to(white));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, PowderBlue, white);
  /* for firefox 3.6+ */
}
/* line 511, ../../app/stylesheets/screen.scss */
.form .unit.size1of2 {
  font-weight: bold;
}
/* line 514, ../../app/stylesheets/screen.scss */
.form .unit.size1of1 {
  font-weight: bold;
}
/* line 517, ../../app/stylesheets/screen.scss */
.form .hint {
  clear: left;
  margin-left: 180px;
  font-size: 11px;
  color: DarkGrey;
  display: block;
  font-style: italic;
  padding: none;
}

/* FORMS: specific to the text input box         */
/* line 529, ../../app/stylesheets/screen.scss */
input[type="text"], [type="password"] {
  font-family: Arial, Sans-Serif;
  font-size: 13px;
  margin-left: 0px;
  display: block;
  padding: 0px;
  border: solid 3px DarkGrey;
  width: 300px;
  /*	background-image: url( 'blue_bg.png' );  */
  background-repeat: repeat-x;
  background-position: top;
}

/* :focus takes away the gradient for the active */
/* field.  This does not work in IE so we need to*/
/* javascript...ref: www.jankoatwarpspeed.com/post/2008/07/27/enhanceinputfields*/
/*.field:focus .textarea:focus {
	background-image: none;
    background-color: #ffffff;
    border: solid 1px #33677F;
}*/
/* line 554, ../../app/stylesheets/screen.scss */
div.field, div.actions {
  margin-bottom: 10px;
  margin-left: 25px;
}

/* FIELD SECTION UNDER THE ERROR COUNT           */
/* line 560, ../../app/stylesheets/screen.scss */
.field_with_errors {
  margin-top: 5px;
  margin-left: 5px;
  padding: 3px;
  background-color: Crimson;
  display: table;
}
/* line 566, ../../app/stylesheets/screen.scss */
.field_with_errors label {
  color: white;
}

/* ERROR EXPLANATION BOX STYLING                 */
/* line 572, ../../app/stylesheets/screen.scss */
#error_explanation {
  width: 500px;
  border: 2px solid Crimson;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: WhiteSmoke;
}
/* line 580, ../../app/stylesheets/screen.scss */
#error_explanation h2 {
  font-size: 14px;
  text-align: center;
  margin: 5px;
  background-color: Crimson;
  color: white;
}
/* line 587, ../../app/stylesheets/screen.scss */
#error_explanation p {
  color: Peru;
  margin-bottom: 0;
  padding: 5px;
}
/* line 592, ../../app/stylesheets/screen.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  margin-left: 15px;
}

/* TOP/BOTTOM MARGINS OF TEAM LIST               */
/* line 600, ../../app/stylesheets/screen.scss */
ul.users {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
}

/* LIST.USERS                                    */
/* line 609, ../../app/stylesheets/screen.scss */
li.users {
  list-style-type: none;
  text-align: left;
}

/* FORM div edit account page margin             */
/* line 615, ../../app/stylesheets/screen.scss */
div.edit {
  margin-left: 25px;
}

/* CSS for checkboxes                            */
/* line 620, ../../app/stylesheets/screen.scss */
.label_checkbox_pair {
  clear: inherit;
  float: none;
  display: inline-block;
  margin: 0px;
}

/* line 626, ../../app/stylesheets/screen.scss */
.label_checkbox_pair input {
  /*clear: inherit; */
  float: none;
  margin-left: 0px;
  margin-right: 0px;
}

/* line 632, ../../app/stylesheets/screen.scss */
.label_checkbox_pair label {
  clear: inherit;
  display: inline-block;
  /* overflow:hidden; */
  word-wrap: break-word;
  float: none;
  margin-left: 0px;
  width: 170px;
}

/* FullCalendar and Vinsol Full Calendar style.css are incorporated here with some other adjustments such as background color.   Right now border radius is chopping the calendar a little at the very bottom...might eliminate it on the bottom.  removed all the following FC styling troubleshooting events*/
/* line 644, ../../app/stylesheets/screen.scss */
#calendar {
  width: 900px;
  margin: 0 auto;
  background: white;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
}

/* line 654, ../../app/stylesheets/screen.scss */
#tabs {
  font-size: 100%;
}

/* line 657, ../../app/stylesheets/screen.scss */
#tabs a {
  color: blue;
}

/* line 660, ../../app/stylesheets/screen.scss */
.weapon_fonts {
  color: black;
}

/* not sure what loading color is so experimenting...Not loading as of Oct. 1, so will look for later */
/* line 664, ../../app/stylesheets/screen.scss */
#loading {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #dd0000;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 3px;
}

/*************************************************************************
 * Timepicker stylesheet
 * Highly inspired from datepicker
 * FG - Nov 2010 - Web3R 
 *
 * version 0.0.3 : Fixed some settings, more dynamic
 * version 0.0.4 : Removed width:100% on tables
 * version 0.1.1 : set width 0 on tables to fix an ie6 bug
 */
/* line 684, ../../app/stylesheets/screen.scss */
.ui-timepicker-inline {
  display: inline;
}

/* line 686, ../../app/stylesheets/screen.scss */
#ui-timepicker-div {
  padding: 0.2em;
}

/* line 687, ../../app/stylesheets/screen.scss */
.ui-timepicker-table {
  display: inline-table;
  width: 0;
}

/* line 688, ../../app/stylesheets/screen.scss */
.ui-timepicker-table table {
  margin: 0.15em 0 0 0;
  border-collapse: collapse;
}

/* line 690, ../../app/stylesheets/screen.scss */
.ui-timepicker-hours, .ui-timepicker-minutes {
  padding: 0.2em;
}

/* line 692, ../../app/stylesheets/screen.scss */
.ui-timepicker-table .ui-timepicker-title {
  line-height: 1.8em;
  text-align: center;
}

/* line 693, ../../app/stylesheets/screen.scss */
.ui-timepicker-table td {
  padding: 0.1em;
  width: 2.2em;
}

/* line 694, ../../app/stylesheets/screen.scss */
.ui-timepicker-table th.periods {
  padding: 0.1em;
  width: 2.2em;
}

/* span for disabled cells */
/* line 697, ../../app/stylesheets/screen.scss */
.ui-timepicker-table td span {
  display: block;
  padding: 0.2em 0.3em 0.2em 0.5em;
  width: 1.2em;
  text-align: right;
  text-decoration: none;
}

/* anchors for clickable cells */
/* line 706, ../../app/stylesheets/screen.scss */
.ui-timepicker-table td a {
  display: block;
  padding: 0.2em 0.3em 0.2em 0.5em;
  width: 1.2em;
  cursor: pointer;
  text-align: right;
  text-decoration: none;
}

/* buttons and button pane styling */
/* line 717, ../../app/stylesheets/screen.scss */
.ui-timepicker .ui-timepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

/* line 720, ../../app/stylesheets/screen.scss */
.ui-timepicker .ui-timepicker-buttonpane button {
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}

/* The close button */
/* line 722, ../../app/stylesheets/screen.scss */
.ui-timepicker .ui-timepicker-close {
  float: right;
}

/* the now button */
/* line 725, ../../app/stylesheets/screen.scss */
.ui-timepicker .ui-timepicker-now {
  float: left;
}

/* the deselect button */
/* line 728, ../../app/stylesheets/screen.scss */
.ui-timepicker .ui-timepicker-deselect {
  float: left;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
/* line 732, ../../app/stylesheets/screen.scss */
.ui-timepicker-cover {
  display: none;
  /*sorry for IE5*/
  display/**/: block;
  /*sorry for IE5*/
  position: absolute;
  /*must have*/
  z-index: -1;
  /*must have*/
  filter: mask();
  /*must have*/
  top: -4px;
  /*must have*/
  left: -4px;
  /*must have*/
  width: 200px;
  /*must have*/
  height: 200px;
  /*must have*/
}

/* line 744, ../../app/stylesheets/screen.scss */
span > div#loading {
  position: fixed;
}

/************************************************************************
/* REMOVED H1 STYLING AND JUST SWITCHED TO H5 OCT 1,2011
h1{
font-size: 16px;
}

/* PAGINATION styling from http://mislav.uniqpath.com/will_paginate/    */
/* line 754, ../../app/stylesheets/screen.scss */
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
}

/* line 758, ../../app/stylesheets/screen.scss */
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: right;
  margin-right: 1px;
}

/* line 763, ../../app/stylesheets/screen.scss */
.digg_pagination .disabled {
  color: #999999;
  /* color: $sky-color; */
  border: 1px solid #dddddd;
}

/* line 767, ../../app/stylesheets/screen.scss */
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  /* background: $sky-color; */
  color: white;
  border: 1px solid #2e6ab1;
}

/* line 774, ../../app/stylesheets/screen.scss */
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}

/* line 778, ../../app/stylesheets/screen.scss */
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033;
}

/* line 781, ../../app/stylesheets/screen.scss */
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

/* line 788, ../../app/stylesheets/screen.scss */
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

/* line 792, ../../app/stylesheets/screen.scss */
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 798, ../../app/stylesheets/screen.scss */
* html .digg_pagination {
  height: 1%;
}

/* line 800, ../../app/stylesheets/screen.scss */
*:first-child + html .digg_pagination {
  overflow: hidden;
}

/* line 803, ../../app/stylesheets/screen.scss */
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: right;
  padding: 1em;
  cursor: default;
}
/* line 809, ../../app/stylesheets/screen.scss */
.apple_pagination .apple_pagination a, .apple_pagination .apple_pagination span {
  padding: 0.2em 0.3em;
}
/* line 811, ../../app/stylesheets/screen.scss */
.apple_pagination .apple_pagination .disabled {
  color: #aaaaaa;
}
/* line 813, ../../app/stylesheets/screen.scss */
.apple_pagination .apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
/* line 825, ../../app/stylesheets/screen.scss */
.apple_pagination .apple_pagination a {
  text-decoration: none;
  color: black;
}
/* line 828, ../../app/stylesheets/screen.scss */
.apple_pagination .apple_pagination a:hover, .apple_pagination .apple_pagination a:focus {
  text-decoration: underline;
}

/* line 832, ../../app/stylesheets/screen.scss */
.color_sample_black {
  background: black;
}

/* line 835, ../../app/stylesheets/screen.scss */
.color_sample_blue {
  background: blue;
}

/* line 838, ../../app/stylesheets/screen.scss */
.color_sample_brown {
  background: SaddleBrown;
}

/* line 841, ../../app/stylesheets/screen.scss */
.color_sample_coral {
  background: Tomato;
}

/* line 844, ../../app/stylesheets/screen.scss */
.color_sample_grey {
  background: SlateGrey;
}

/* line 847, ../../app/stylesheets/screen.scss */
.color_sample_light_blue {
  background: SkyBlue;
}

/* line 850, ../../app/stylesheets/screen.scss */
.color_sample_maroon {
  background: maroon;
}

/* line 853, ../../app/stylesheets/screen.scss */
.color_sample_mauve {
  background: MediumVioletRed;
}

/* line 856, ../../app/stylesheets/screen.scss */
.color_sample_ocean {
  background: DeepSkyBlue;
}

/* line 859, ../../app/stylesheets/screen.scss */
.color_sample_olive {
  background: olive;
}

/* line 862, ../../app/stylesheets/screen.scss */
.color_sample_orange {
  background: orange;
}

/* line 865, ../../app/stylesheets/screen.scss */
.color_sample_pink {
  background: Violet;
}

/* line 868, ../../app/stylesheets/screen.scss */
.color_sample_purple {
  background: BlueViolet;
}

/* line 871, ../../app/stylesheets/screen.scss */
.color_sample_salmon {
  background: Salmon;
}

/* line 874, ../../app/stylesheets/screen.scss */
.color_sample_teal {
  background: Teal;
}
