<!DOCTYPE html>
<html>
  <head>
    <title>Weapons Book | Privacy</title>
  </head>
  <body>
    <h1>Weapons Book</h1>
    <p>
      This is the privacy page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>
