%h1 Weapons Inventory
%h5
 = link_to "Add A New Weapon", new_weapon_path
.line
 = form_tag weapons_path, :method => 'get' do
  = render 'weapon'
/  = text_field_tag :search, params[:search]
/  = submit_tag "Search for Team Name", :name => nil